@use "../../../../../mixins" as *;

.section-register {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--very-dark-blue);

  .row {
    max-width: 60rem;
    width: 100%;

    @include respond(tab-port) {
      max-width: 55rem;
    }

    @include respond(phone) {
      max-width: 25rem;
    }

    .register {
      &__header {
        font-weight: 300;
        color: var(--color-blue);
      }

      .container {
        background-image: linear-gradient(
            105deg,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0.9) 50%,
            transparent 50%
          ),
          url(../../../../assets/images/5.PNG);

        @include respond(phone) {
          background-image: linear-gradient(
              105deg,
              rgba(255, 255, 255, 0.9) 0%,
              rgba(255, 255, 255, 0.9) 100%
            ),
            url(../../../../assets/images/5.PNG);
        }

        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0;
        border-radius: 3px;
        transform: scaleX(-1);
      }

      &__form {
        transform: scaleX(-1);

        padding: 6rem;
        width: 50%;
        background-color: transparent;
        box-shadow: none;

        @include respond(tab-port) {
          padding: 5rem;
        }

        @include respond(phone) {
          padding: 2rem;
          width: 100%;
        }
      }
    }
  }
}



.btn {
  text-decoration: none;
  padding: 0.75rem 2rem;
  font-family: inherit;
  font-size: inherit;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &--blue {
    background-color: var(--color-blue);
    color: #fff;
    width: 100%;

    &:focus,
    &:active {
      outline: 4px solid var(--pale-blue);
    }
  }
}

.login {
  color: var(--very-dark-blue);
  font-weight: 400;
  font-size: 0.8rem;
  text-align: center;
}
