@use "../../../../../../mixins" as *;

// .FilmCard {
//     height: 440px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: flex-start;
//     background-size: cover;
//     background-position: center;
//   }


.carousel-column {
  max-width: 1300px;

  @include respond(tab-land) {
      width: 100%;
    }
  
    @include respond(tab-port) {
      width: 100%;
    }
  
    @include respond(phone) {
      width: 100%;
    }
}


.carousel-slides {
  width: 100%;
}


// .carousel-title {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   padding-bottom: 30px;
// }


.title {
  font-family: Greycliff CF, sans-serif;
  font-weight: 900;
  color: var(--mantine-color-white);
  line-height: 1.2;
  font-size: 32px;
  margin-top: var(--mantine-spacing-xs);
}

.category {
  color: var(--mantine-color-white);
  opacity: 0.7;
  font-weight: 700;
  text-transform: uppercase;
}

