@use "../../../../../mixins" as *;


.header {
  width: 100%;
  position: fixed;
  height: 56px;
  margin-bottom: auto;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  
}

.search {
  flex-grow: 1;
  width: 100%;

  @include respond(tab-land) {
    max-width: 40rem;
  }

  @include respond(tab-port) {
    max-width: 150px;
  }

  @include respond(phone) {
    max-width: 200px;
  }


}



.icon {
  padding-right: 3rem;

  @include respond(phone) {
    padding-right: 0rem;
  }

}

.burger-container {
  padding-right: 3rem;
}



.header-inner {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: left;

}

.link {
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }

}
