@use "../../../../../mixins" as *;



.header {
  height: 56px;
  margin-bottom: auto;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  
}


.searchBar {
  width: 40rem;
  padding-right: 100px;
  @include respond(phone) {
    width: 30rem;

  } 
}

.search {
  width: 40rem;
  @include respond(phone) {
    

  } 

}

.icon {
  padding-right: 3rem;
  @include respond(phone) {
    padding: 0.5rem;
    width: 100%;
  } 
}


.inner {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: left;

}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }

}
