@use "../../../../../mixins" as *;

.description-root {
  height: 500px;
  background-color: #11284b;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(250deg, rgba(130, 201, 30, 0) 0%, #001020 70%),
    url(https://image.tmdb.org/t/p/w500/9rk0NJXs1izgJPZwbkSrkiVFWMQ.jpg);
  padding-top: calc(var(--mantine-spacing-xl) * 3);
  padding-bottom: calc(var(--mantine-spacing-xl) * 3);
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;

  }


.movie-img{
  height: 100%;
  width: 300px;
  @include respond(tab-land) {
    width: 100%;
  }

  @include respond(tab-port) {
    width: 100%;
  }

  @include respond(phone) {
    width: 100%;
  }

}

.movie-facts {
  width: 100%;
}


.movie-title {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.overview-title {
  margin: 8px 0 8px 0;
}


.movie-description {

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  box-sizing: border-box;
  padding-left: 40px;
}
  
.movie-overview {
  width: 100%;

}

.description-directors {
  margin-top: 8px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
} 

