.img {
  max-width: 100%;
}

.film {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 12.5rem;
}

.rating {
  display: flex;
}

.savedButton {
  position: absolute;
  top: 0;
  left: 1rem;
}

.front {
  transition: 250ms;

  .name {
    text-align: center;
    cursor: pointer;
    transition: color .2s;

    &:hover {
      color: var(--color-blue);
    }
  }

  .thumbnail {
    border-radius: var(--border-radius);
  }
  .name {
    margin: 0.75rem 0;
  }
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
