@use "../../../../../../../mixins" as *;

.header {
  padding: 5px var(--mantine-spacing-md);
  z-index: 2;
}

.search {
  flex-grow: 1;

  @include respond(tab-land) {
    max-width: 35rem;
  }

  @include respond(tab-port) {
    max-width: 150px;
  }

  @include respond(phone) {
    max-width: 200px;
  }
}

.icon {
  padding-right: 3rem;

  @include respond(phone) {
    padding-right: 0rem;
  }
}

.burger-container {
  padding-right: 3rem;
}

.header-inner {
  padding: 5px var(--mantine-spacing-md);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.link {
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}
