.form {

  &__group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
  }

  &__label {
    font-size: 0.8rem;
    color: var(--very-dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.error {
  color: var(--error);
  font-size: 0.8rem;
  margin-top: 0.2rem;
  align-self: flex-start;
}
