img {
  max-width: 100%;
}

.film {
  position: relative;
  width: 12.5rem;
}

.rating {
  display: flex;
}

.saved {
  position: absolute;
  font-weight: bold;
  font-size: 1.125rem;
  top: 0;
  left: 1rem;
  z-index: 1000;
  color: #fff;
  background: rgba(0, 0, 0, 0.65);
  padding: 0.5rem 0.5rem 0.75rem;
  clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0 100%, 0% 0%);
  transition: var(--transition);
  cursor: pointer;
}

.front {
  transition: 250ms;

  .name {
    text-align: center;
  }

  .thumbnail {
    border-radius: var(--border-radius);
  }
  .name {
    margin: 0.75rem 0;
  }

  .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}




