@use "../../../../../mixins" as *;

.description-root {
  background-size: cover;
  background-position: center;
  display: flex;
  width: 100%;
  border: 0;
  text-decoration: none;
  border-radius: var(--bi-radius, 0);
  color: #ffffff;
}

.movie-img {
  align-self: center;
}



.movie-title {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.overview-title {
  margin: 8px 0 8px 0;
}

.movie-description {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  box-sizing: border-box;
  padding-left: 40px;
}

.movie-overview {
  width: 100%;
}
